<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>LIST</title>
    <link rel="stylesheet" href="/common.css" />

</head>
<body>
    <div class="site">
        <div class="navbar" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api">RESTful API</a></li>
                <li><a class="active" href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="navright">Michael Smith Laboratories - Centre for High-Throughput Biology, UBC</li>
            </ul>
            <h1>LIST</h1>
        </div>
    </div>
</body>
</html>