<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${@siteSettings.title}">LIST</title>
    <object th:include="fragments/head :: head" th:remove="tag" />

</head>
<body>
    <div class="site">
        <div th:replace="fragments/header :: title" th:remove="tag">...</div>
        <div th:replace="fragments/header :: navbar(contact)" th:remove="tag">...</div>

        <div class="content">
            <div class="section">
                <h2 class="section-title">Contact Us</h2>
                <div class="section-content">
                    <p>Have questions? Want more information?</p>
                    <p>Contact us at the following:</p>
                    <dl style="line-height: 1.5em;">
                        <dt>Nawar Malhis</dt>
                        <dd><a href="mailto:nmalhis@chibi.ubc.ca">nmalhis@chibi.ubc.ca</a></dd>

                        <dt>Joerg Gsponer</dt>
                        <dd><a href="mailto:gsponer@chibi.ubc.ca">gsponer@chibi.ubc.ca</a></dd>
                    </dl>
                </div>
            </div>

            <div class="section">
                <h2 class="section-title">Credits</h2>
                <div class="section-content">

                    <dl style="line-height: 1.5em;">
                        <dt>Computational Prediction Software:</dt>
                        <dd>Nawar Malhis</dd>
                        <dd>Joerg Gsponer</dd>
                    </dl>

                    <dl style="line-height: 1.5em;">
                        <dt>Web Application and Visualizations:</dt>
                        <dd>Matthew Jacobson</dd>
                        <dd>JacobsonMT+LISTAPP [at] gmail [dot] com</dd>
                        <dd><a href="https://github.com/JacobsonMT" target="_blank">https://github.com/JacobsonMT</a></dd>
                    </dl>
                </div>
            </div>

            <div class="section">
                <h2 class="section-title">Terms &amp; Conditions</h2>
                <div class="section-content">
                    <small>This software is distributed on an as is basis, without any kind of warranties. This software is
                        not for commercial purposes. Incorporating any part of this software in other applications
                        should preserve the Author copyright message. Appropriate citation when using LIST in
                        publication of scientific results.</small>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
