<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${@siteSettings.title}">LIST</title>
    <link rel="stylesheet" href="/css/common.css" />

</head>
<body>
    <div class="site">
        <div th:replace="fragments/header :: title" th:remove="tag">...</div>
        <div th:replace="fragments/header :: navbar(help)" th:remove="tag">...</div>

        <div class="content">
            <div class="section">
                <h2 class="section-title">Section One</h2>
                <div class="section-content">
                    <p><b>Lorem ipsum dolor</b> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Sit amet aliquam id diam maecenas. Adipiscing tristique risus
                        nec feugiat in fermentum posuere urna nec. Ac auctor augue mauris augue neque gravida in
                        fermentum. Aliquam nulla facilisi cras fermentum. Justo laoreet sit amet cursus. Habitant
                        morbi tristique senectus et. Morbi non arcu risus quis varius quam. Ultrices vitae auctor
                        eu augue. Maecenas ultricies mi eget mauris pharetra et. Euismod quis viverra nibh cras
                        pulvinar mattis nunc sed. Pellentesque dignissim enim sit amet venenatis.</p>
                    <img src="/img/placeholder.png"/>
                </div>
            </div>
            <div class="section">
                <h2 class="section-title">Section Two</h2>
                <div class="section-content">
                    <p><b>Lorem ipsum dolor</b> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Pulvinar elementum integer enim neque. Viverra accumsan in
                        nisl nisi scelerisque. Massa tempor nec feugiat nisl pretium fusce id velit ut. Porttitor leo a
                        diam sollicitudin tempor id. Fusce ut placerat orci nulla pellentesque dignissim enim sit.
                        Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Egestas sed sed risus
                        pretium quam vulputate dignissim suspendisse. Facilisis sed odio morbi quis commodo odio aenean.
                        Adipiscing tristique risus nec feugiat. Massa ultricies mi quis hendrerit. Felis bibendum ut
                        tristique et egestas quis ipsum suspendisse. Urna et pharetra pharetra massa massa ultricies.
                        Sit amet dictum sit amet justo donec enim. In cursus turpis massa tincidunt dui ut ornare. Vel
                        orci porta non pulvinar neque laoreet suspendisse. Sit amet purus gravida quis blandit turpis
                        cursus in hac.</p>
                    <img class="block-center" src="/img/placeholder.png"/>
                </div>
            </div>
            <div class="section">
                <h2 class="section-title">Section Three</h2>
                <div class="section-content">
                    <p><b>Lorem ipsum dolor</b> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Sapien pellentesque habitant morbi tristique senectus et netus
                        et malesuada. Nunc faucibus a pellentesque sit amet porttitor eget. Ante in nibh mauris cursus.
                        Malesuada fames ac turpis egestas integer eget aliquet. Molestie nunc non blandit massa enim nec
                        dui. Faucibus a pellentesque sit amet porttitor eget dolor morbi. Diam donec adipiscing
                        tristique risus nec feugiat in fermentum posuere. Hendrerit gravida rutrum quisque non tellus
                        orci. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. Leo a diam sollicitudin
                        tempor. Sit amet est placerat in. Donec enim diam vulputate ut pharetra sit. Viverra suspendisse
                        potenti nullam ac tortor vitae purus faucibus. Pulvinar pellentesque habitant morbi tristique
                        senectus et netus et.</p>
                    <img class="right" src="/img/placeholder.png"/>
                </div>
            </div>
        </div>

    </div>
</body>
</html>