<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${@siteSettings.title}">LIST</title>
    <link rel="stylesheet" href="/css/common.css" />

</head>
<body>
<div class="site">
    <div th:replace="fragments/header :: title" th:remove="tag">...</div>
    <div th:replace="fragments/header :: navbar(help)" th:remove="tag">...</div>

    <div class="content">

        <div class="section">
            <div class="section-content">
                <p>
                    <b>LIST</b> predicts the deleteriousness of amino acid mutations in human proteomes. The current release, 0.9 includes precomputed predictions of ~20,000 SwissProt protein sequences identified by their UniProt accession number. Prediction scores in the range [0 .. 1], where lower scores indicate more benign and higher indicate deleteriousness effect. <br /><br />
                    <b>Per Mutation:</b> To obtain LIST prediction for a list of mutations, copy and paste these mutations in the input text box and then click [>>]. Each entry should have the following format: <i>AC:Pos:RefAA:AlleleAA</i> <br />
                    <i>&emsp; AC:</i> protein accession number. <br />
                    <i>&emsp; Pos:</i> protein position. <br />
                    <i>&emsp; RefAA:</i> the reference amino acid at position <i>Pos</i>. <br />
                    <i>&emsp; AlleleAA:</i> the allele amino acid. <br />
                    <br />
                    <dt>Example Input:</dt>
                <dd>A0A0A0MRZ7:28:P:G </dd>
                <dd>A0A0A0MRZ7:112:Y:F </dd>
                <dd>A0A096LP49:133:E:K </dd>
                <dd>A0A0J9YX94:197:T:K </dd>
                <dd>P07766:192:R:T </dd> <br />
                <dt>Output:</dt>
                <dd>A0A0A0MRZ7:28:P:G&emsp; 0.951352 </dd>
                <dd>A0A0A0MRZ7:112:Y:F&emsp; 0.498739 </dd>
                <dd>A0A096LP49:133:E:K&emsp; 0.731489 </dd>
                <dd>A0A0J9YX94:197:T:K&emsp; 0.829466 </dd>
                <dd>P07766:192:R:T&emsp; 0.885529 </dd><br />
                </p>

                <p>
                    <b>Per Protein:</b> One can also visualize/download LIST scores for all possible mutation of a specific protein sequence identified by its accession number.<br />
                    Enter an accession value under <i>Accession</i> and then select:<br /> <i>Download:</i> to download all scores, or<br /> <i>Matrix:</i> to display an interactive matrix with all possible mutant amino acid scores color coded. <br />&emsp; To zoom in, use the mouse to select the region of interest, then one can zoom out by clicking [<i>Reset zoom</i>]. <br />
                </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>