<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${@siteSettings.title}">LIST</title>
    <link rel="stylesheet" href="/common.css"/>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<div class="site">
    <div th:replace="fragments/header :: title" th:remove="tag">...</div>
    <div th:replace="fragments/header :: navbar(home)" th:remove="tag">...</div>
    <div>

        <div id="protein-container">
            <h3 th:text="${@siteSettings.subtitle}">Predicting the Deleteriousness Level of Amino Acid Mutations</h3>
            <div id="protein-form"></div>
        </div>
        <div id="react-table"></div>
    </div>

</div>

<script src="built/table.js"></script>

</body>
</html>