<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${@siteSettings.title}">LIST</title>
    <object th:include="fragments/head :: head" th:remove="tag" />

    <style>
        .main-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>




<div th:replace="fragments/navbar :: navbar(home)">...</div>
<div class="container-fluid p-4">

    <div class="main-content p-4 mb-0" >
        <h4 class="mb-4">Select a species to continue:</h4>
        <div th:each="speciesGroup: ${@speciesSettings.getIndexGroups()}" class="mb-3">
            <div class="card species-card" th:each="species: ${speciesGroup}" style="width:200px;display: inline-block;">
                <div class="card-header">
                    <span th:remove="tag" th:text="${species.commonName}"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-2" th:text="${'OX: ' + species.id}"></h5>
                    <p class="card-text mb-0" th:text="${'Updated: ' + species.updated}"></p>
                    <p class="card-text mb-0" th:text="${'Count: ' + @flatFileProteinRepository.getProteinCount(species)}"></p>
                    <a href="#" th:href="@{'/species/' + ${species.id}}" class="btn btn-info mt-1">View Proteins</a>
                </div>
            </div>
        </div>

    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
