<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${@siteSettings.title}">LIST</title>
    <object th:include="fragments/head :: head" th:remove="tag" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/index.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>

<div class="site">
    <div th:replace="fragments/header :: title" th:remove="tag">...</div>
    <div th:replace="fragments/header :: navbar(home)" th:remove="tag">...</div>
    <div>

        <div id="protein-container">
            <h3 th:text="${@siteSettings.subtitle}">Predicting the Deleteriousness of Amino Acid Mutations</h3>
            <div>
                <form id="protein-form" >
                    <textarea class="input"
                          placeholder="Example Input:                                         Q8WVH0:112:D:G                                         P53365:312:N:K                                         Q9ULP0:254:T:V                                         Q8NHW4:15:A:M                                         Q96EW2:436:I:Y"></textarea>
                    <input type="submit" value=">>" />
                    <textarea class="output" placeholder="Output Predictions" disabled="disabled"></textarea>
                </form>
            </div>
        </div>
        <div>
            <div th:replace="fragments/protein-table :: protein-table(proteins=${proteins})"
                 th:remove="tag">...
            </div>
        </div>
    </div>

</div>

</body>
</html>
