<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${protein.accession + ' - ' + @siteSettings.title}"></title>
    <object th:include="fragments/head :: head" th:remove="tag" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/6.0.3/highcharts.js"></script>
    <script src="https://code.highcharts.com/6.0.3/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/6.0.3/modules/boost.js"></script>
    <script src="https://code.highcharts.com/6.0.3/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/6.0.3/modules/offline-exporting.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const protein = /*[[${protein}]]*/ 'protein';
        /*]]>*/
    </script>
    <script th:src="@{/js/protein.js}"></script>
</head>
<body>

<div class="site">
    <div th:replace="fragments/header :: title" th:remove="tag">...</div>

    <div style="display:flex; flex-wrap:wrap; align-items:center; justify-content:center">
        <a th:href="${'//www.uniprot.org/uniprot/' + protein.accession}" target="_blank" style="margin:0 1em;">
            <img src="/img/uniprot_rgb_320x146.png" style="width:40px; margin: 0; vertical-align: middle;"/>
        </a>
        <h2 style="margin:0;" th:text="${protein.accession}"></h2>
    </div>

    <div id="protein-graphs">

        <div id="heatmap-container">

        </div>

        <div id="prediction-container">

        </div>

        <div id="conservation-container">

        </div>

        <div id="depth-container">

        </div>

    </div>

</div>

</body>
</html>