<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${(species != null ? species.getCommonName() + ' - ' : '')  + @siteSettings.title}">LIST</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const species = /*[[${species}]]*/ 'species';
        /*]]>*/
    </script>
    <script th:src="@{/js/species.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common-species.css}"/>

</head>
<body>
<div th:replace="fragments/navbar :: navbar(${'species-' + (species != null ? species.id : '')})">...</div>
<div class="container-fluid p-4">

    <div class="main-content p-4">
        <div id="protein-container">
            <span style="position: absolute;right: 0;" class="text-muted" th:text="${'Updated: ' + species.updated}"></span>
            <h4 style="margin: 0;" th:if="${species != null}" th:text="${species.getScientificName() + ' (' + species.getCommonName() + ')' + (species.getExtra() != '' ? ' - ' + species.getExtra() : '')}"></h4>
            <h5 style="margin-top: 0.25rem; margin-bottom:0.5rem;" class="text-muted"  th:if="${species != null}" th:text="${'OX: ' + species.id}"></h5>
            <div>
                <form id="protein-form" >
                    <textarea class="input"
                              placeholder="Example Input:                                         O08586:295:L:H                                         O08586:175:V:M                                         E1BMF7:727:Q:P                                         E1BMF7:727:Q:E"></textarea>
                    <input type="submit" value=">>" />
                    <textarea class="output" placeholder="Output Predictions" disabled="disabled"></textarea>
                </form>
            </div>
        </div>
        <div>
            <div th:replace="fragments/protein-table :: protein-table"
                 th:remove="tag">...
            </div>
        </div>
    </div>


</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
